.menu__wrapper {
  border-radius: 10px;
  width: 100%;
  border: 2px solid var(--secondary-border-color);
  box-shadow: var(--primary-box-shadow);
  overflow: hidden;
}
.checkbox__wrapper {
  display: flex;
  justify-content: flex-end;
}
.input__wrapper {
  width: 100%;
  padding-top: 30px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  position: relative;
}
