.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  display: block;
  overflow: auto;
}
.table thead {
  display: block;
  width: 100%;
}
.table tbody tr {
  display: flex;
  width: 100%;
}
.table thead tr {
  display: flex;
  width: calc(100% - 4px);
}
.actions__cell {
  display: flex;
  align-items: left;
  gap: 5px;
  flex-wrap: wrap;
  padding: 5px 0 5px 0;
}
.table tbody {
  display: block;
  max-height: 420px;
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid var(--secondary-border-color);
}
.table tbody::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 4px;
}
.table tbody::-webkit-scrollbar-track {
  margin-block: 5px;
  margin-inline: 3px;
  background-color: #f5f5f5;
}
.table tbody::-webkit-scrollbar-thumb {
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}
.body__wrapper {
}
.table tr:nth-of-type(2n) {
  background-color: rgba(128, 128, 128, 0.267);
}
.table td,
th {
  text-align: left;
  /* border: 1px solid black; */
  overflow: hidden;
  padding-top: 3px;
}
.table tr:hover {
  /* background-color: rgba(128, 128, 128, 0.356); */
  background-color: #d1e7ed;
}
.table tr {
  width: 100%;
}

.table tr td {
  /* width: 25%; */

  word-break: break-all;

  padding-left: 4px;
}
.table th {
  white-space: wrap;
  padding-left: 4px;
}

.table thead {
  background-color: var(--secondary-background-color);
}
.table thead {
}
.table caption {
  display: block;
  background-color: var(--tertialy--backgorund-color);
}
/* .table tfoot {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.table tfoot tr {
  margin-top: 10px;
  margin-right: 40px;
  width: fit-content;
} */
/* 
.table__wrapper {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.table__wrapper tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 100px;
}
.table__wrapper thead tr {
  display: block;
}
.table__wrapper thead {
  background: black;
  color: #fff;
}
.table__wrapper th,
.table__wrapper td {
  padding: 5px;
  text-align: left;
  /* width: 200px; */
