.form__container {
  width: 270px;
  padding: 30px;
  padding-bottom: 60px;
  border: 2px solid var(--primary-border-color);
  border-radius: 30px;
  box-shadow: var(--primary-box-shadow);
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}
.form__container.modal {
  width: 100%;
  border: none;
  box-shadow: none;
  padding: 10px;
  padding-bottom: 40px;
}
.input_container {
  margin-bottom: 50px;
  position: relative;
}
.form__container .form__end {
  color: red;
  position: absolute;
  bottom: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form__container form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.form__container h2 {
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
}

.form__container form .submit__button {
  align-self: center;
  padding: 5px;
  border: none;
  background-color: var(--tertialy--backgorund-color);
  border: 1px solid var(--tertialy-border-color);
  border-radius: 10px;
  width: 80px;
  cursor: pointer;
  margin-top: 10px;

  font-weight: 500;
}
.form__container form .submit__button:hover {
  box-shadow: var(--tertialy-box-shadow);
}
.form__container .error__message {
  position: absolute;
  color: red;
}
