.pink {
  --pale-border: #f07f93;
  --border-color: var(--tertialy-border-color);
  --background-color: var(--tertialy--backgorund-color);
  --box-shadow: var(--tertialy-box-shadow);
}
.blue {
  --pale-border: #4898bd;
  --border-color: var(--secondary-border-color);
  --background-color: var(--secondary-background-color);
  --box-shadow: var(--secondary-box-shadow);
}

.basic__button {
  box-sizing: border-box;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: white;
  border-radius: 5px;
  padding: 3px 5px 0px 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  height: 20px;
}
.basic__button:hover {
  box-shadow: var(--box-shadow);
  background-color: white;
  color: var(--background-color);
}
