.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper.pink input {
  width: 100%;
  outline: none;
  border: 2px solid var(--tertialy--backgorund-color);
  font-size: 18px;
  box-shadow: none;
  padding-left: 10px;
  border-radius: 5px;
}
.wrapper.pink input:focus {
  border-color: var(--tertialy-border-color);
  box-shadow: var(--tertialy-box-shadow);
}

.wrapper input {
  width: 100%;
  outline: none;
  border: 2px solid #4898bd;
  font-size: 18px;
  box-shadow: none;
  padding-left: 10px;
  border-radius: 5px;
}
.wrapper input:focus {
  border-color: var(--input-border);
  box-shadow: var(--secondary-box-shadow);
}
.wrapper input::placeholder {
  color: transparent;
}
.wrapper input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(38%) sepia(55%) saturate(575%) hue-rotate(154deg)
    brightness(93%) contrast(89%);
}

.wrapper label {
  position: absolute;
  font-size: 18px;
  left: 10px;
  color: grey;
  transition: 0.5s all;
  pointer-events: none;
  word-wrap: none;
  white-space: nowrap;
}
.wrapper input:focus ~ label,
.wrapper input:not(:placeholder-shown) ~ label {
  transform: translateY(-30px);
  color: var(--primary-text-color);
}

.wrapper .icon_container {
  position: absolute;
  right: 2px;
  top: 2px;
  color: #4898bd;
  font-size: 24px;
  width: 27px;
  height: 27px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.wrapper .icon_container::before {
  content: "";
  background-color: #4898bd;
  height: 20px;
  width: 1px;
  margin-right: 1px;
}
.wrapper .icon_container .icon {
  color: #4898bd;
}

.wrapper:focus-within .icon_container {
  color: #297497;
}
.wrapper.pink .icon_container {
  color: var(--tertialy--backgorund-color);
}
.wrapper.pink .icon_container::before {
  background-color: var(--tertialy--backgorund-color);
}
.wrapper.pink:focus-within .icon_container {
  color: var(--tertialy-border-color);
}
.wrapper input[type="file"] {
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
}
.wrapper input[type="file"] + label {
  font: 1.25em;
  font-weight: 700;
  transform: translateY(0px);
  left: 0px;
  position: relative;
  color: white;
  pointer-events: all;
  display: inline-block;
  background-color: var(--tertialy--backgorund-color);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
