.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper.pink input {
  width: 100%;
  outline: none;
  border: 2px solid var(--tertialy--backgorund-color);
  /* border: 2px solid var(--secondary-border-color); */
  font-size: 18px;
  box-shadow: none;
  padding-left: 10px;
  border-radius: 5px;
}
.wrapper.pink input:focus {
  border-color: var(--tertialy-border-color);
  box-shadow: var(--tertialy-box-shadow);
}

.wrapper input {
  width: 100%;
  outline: none;
  border: 2px solid #4898bd;
  /* border: 2px solid var(--secondary-border-color); */
  font-size: 18px;
  box-shadow: none;
  padding-left: 10px;
  border-radius: 5px;
  /* color: var(--primary-text-color); */
}
.wrapper input:focus {
  /* border-color: #297497; */
  border-color: var(--secondary-border-color);

  box-shadow: var(--secondary-box-shadow);
  /* /* box-shadow: 0px 0px 3px 1px rgba(102, 240, 235, 0.6);
  box-shadow: 0px 0px 3px 1px rgba(102, 240, 235, 0.6); */
}
.wrapper input::placeholder {
  color: transparent;
}
.wrapper input[type="date"]::-webkit-calendar-picker-indicator {
  /* background-color: var(--secondary-border-color); */
  filter: invert(38%) sepia(55%) saturate(575%) hue-rotate(154deg)
    brightness(93%) contrast(89%);
}

.wrapper label {
  position: absolute;
  font-size: 18px;
  left: 10px;
  color: grey;
  transition: 0.5s all;
  pointer-events: none;
}
.wrapper input:focus ~ label,
.wrapper input:not(:placeholder-shown) ~ label {
  /* background-color: white; */
  transform: translateY(-30px);
  /* color: black; */
  color: var(--primary-text-color);
}
.wrapper .icon_container {
  position: absolute;
  right: 2px;
  top: 2px;
  color: #4898bd;
  font-size: 24px;
  width: 27px;
  height: 27px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.wrapper .icon_container::before {
  content: "";
  background-color: #4898bd;
  height: 20px;
  width: 1px;
  margin-right: 1px;
}
.wrapper .icon_container .icon {
  color: #4898bd;
}

.wrapper:focus-within .icon_container {
  color: #297497;
}
