.table__wrapper {
  box-sizing: border-box;

  border-radius: 10px;
  width: 100%;
  border: 2px solid var(--primary-border-color);
  box-shadow: var(--primary-box-shadow);
  overflow: hidden;
  background-color: var(--card-color);
  color: var(--primary-text-color);
}
.buttons__wrapper {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  margin: 5px;
}
.footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  border-top: 1px solid var(--primary-border-color);
}
.footer h4 {
  padding-right: 20px;
  color: var(--primary-text-color);
}
