.wrapper {
  position: relative;
  border-radius: 5px;
  width: 100%;
  /* overflow: hidden; */
}
.wrapper:focus {
  border: solid 10px black;
}
.wrapper .icon_container {
  position: absolute;
  right: 2px;
  top: 2px;
  color: #4898bd;
  font-size: 24px;
  width: 27px;
  height: 27px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.wrapper .icon_container::before {
  content: "";
  background-color: #4898bd;
  height: 20px;
  width: 1px;
  margin-right: 1px;
}
.wrapper .icon_container .icon {
  color: #4898bd;
}

.wrapper:focus-within .icon_container {
  color: #297497;
}
