.invoice_wrapper {
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  width: 100%;
  gap: 10px;
  color: var(--primary-text-color);
}
.invoice_menu {
  flex: 1 1 25%;
  min-width: 250px;
}
.invoice_table {
  flex: 1 1 75%;
}
@media (max-width: 850px) {
  .invoice_wrapper {
    flex-direction: column;
  }
}
