.img__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 5px;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 100%;
}
.user__info {
  border-top: 2px solid var(--secondary-background-color);
  width: 90%;
  padding-top: 5px;
}
.aditional_info {
  border-top: 2px solid var(--secondary-background-color);
  margin-top: 10px;
  margin-bottom: 20px;
  padding-right: 5px;
  visibility: hidden;
  overflow: auto;
  max-height: 122px;
  opacity: 0;
}
.aditional_info::-webkit-scrollbar {
  width: 5px;
}
.aditional_info::-webkit-scrollbar-track {
  background-color: var(--pale-blue);
  margin-block: 5px;
  border-radius: 100vh;
}
.aditional_info::-webkit-scrollbar-thumb {
  background-color: var(--secondary-border-color);
  border-radius: 100vh;
}
.aditional_info_wrapper {
  padding: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  /* padding-bottom: 10px; */
  margin-bottom: 10px;
}
.aditional_info.active {
  transition: 0s all;
  transition-delay: 1.4s;
  visibility: visible;
  opacity: 1;
}
.user__info_line {
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--primary-text-color);
  overflow: hidden;
}
.user__info_last_line {
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  color: var(--primary-text-color);
  overflow: hidden;
}
.right__text__container {
  display: flex;
}
.user__info_line div {
  word-break: break-all;
}
.push_right {
  margin-left: auto;
}
.feather {
  cursor: pointer;
  height: 30px;
  font-size: 18px;
  padding: 0 1px;
}
.img_change {
  height: 70%;
  width: 70%;
  z-index: 2;
  opacity: 0;
}
.img_change:hover {
  opacity: 0.5;
}
.feather_container {
  margin-left: 5px;
}
.feather_container button {
  background-color: none;
  border: none;
  width: 20px;
  height: 30px;
}
.feather:hover {
  color: var(--secondary-background-color);
}
.inactive.show {
  animation-name: shadow-grow-2;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  /* animation-fill-mode: forwards; */
}
.show {
  border: 1px solid var(--secondary-background-color);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--secondary-background-color);
  background-color: #f2f2f2;
  transform: translate(-50%, -50%);
  /* transform: rotate(180deg); */
  transform-origin: center;
  border-radius: 50%;
  /* transform: translate(-50%, -50%), rotate(180deg); */
  /* transition: top 1.5s, transform 1.5s; */
  transition: top 1.5s, transform 1.5s;
  /* transition: transform 1.5s; */
  /* transition: top 1.5s; */
}

.show.active {
  top: 88%;
  animation-name: shadow-grow;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  /* animation-fill-mode: forwards; */
  transform: rotate(180deg) translate(50%, 50%);
}

.show:hover {
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
  box-shadow: var(--primary-box-shadow);
}
.down__circle {
  color: inherit;
  font-size: 32px;
  border-radius: 50%;
}
.delete_wrapper {
  display: flex;
  width: 100%;
  justify-content: end;
  padding-bottom: 10px;
}
.button_feather {
  background-color: var(--card-color);
  color: var(--primary-text-color);
}
@keyframes shadow-grow {
  0% {
    box-shadow: 0px 0px 0px 0px var(--secondary-background-color);
  }
  50% {
    box-shadow: 0px 0px 0px 1000px var(--secondary-background-color);
  }
  100% {
    box-shadow: 0px 0px 0px 0px var(--secondary-background-color);
  }
}
@keyframes shadow-grow-2 {
  0% {
    box-shadow: 0px 0px 0px 0px var(--secondary-background-color);
  }
  50% {
    box-shadow: 0px 0px 0px 1000px var(--secondary-background-color);
  }
  100% {
    box-shadow: 0px 0px 0px 0px var(--secondary-background-color);
  }
}
