.modal__wrapper {
  z-index: 3;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  overflow: auto;
  pointer-events: none;
  transition: 0.5s all;
  color: var(--primary-text-color);
}
.modal__wrapper.active {
  opacity: 1;
  pointer-events: all;
}
.modal__content {
  background-color: var(--primary-background-color);
  padding: 20px;
  border-radius: 20px;
  border: solid 2px var(--tertialy--backgorund-color);
  width: max-content;
  min-height: 100px;
  transition: 0.5s all;
  transform: scale(0.5);
}

.modal__content.active {
  transform: scale(1);
}
.btn__wrapper {
  display: flex;
}
.btn {
  margin-left: auto;
  background-color: white;
  border: 1px solid var(--tertialy--backgorund-color);
  border-radius: 5px;
  padding: 0 5px;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--tertialy--backgorund-color);
  right: 5px;
  font-weight: 600;
}
.btn:hover {
  background-color: var(--tertialy--backgorund-color);
  color: white;

  cursor: pointer;
  box-shadow: 0 0 10px hsl(349, 42%, 52%);
}
.children__wrapper {
  display: flex;
  align-items: center;
}
