.pink {
  --pale-border: #f07f93;
  --border-color: var(--tertialy-border-color);
  --background-color: var(--tertialy--backgorund-color);
  --box-shadow: var(--tertialy-box-shadow);
}
.blue {
  --pale-border: #4898bd;
  --border-color: var(--secondary-border-color);
  --background-color: var(--secondary-background-color);
  --box-shadow: var(--secondary-box-shadow);
}

.select__wrapper {
  position: relative;
  /* width: 100%; */
  /* max-width: 400px; */
}
.menu_list {
  opacity: 0;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: absolute;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
  width: 100%;
  border: 2px solid var(--border-color);
  /* border: 2px solid var(--secondary-border-color); */
  border-radius: 10px;
  margin-top: 5px;
}

.menu_list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 4px;
}
.menu_list::-webkit-scrollbar-track {
  margin-block: 5px;
  background-color: #f5f5f5;
}
.menu_list::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
  /* background-color: var(--secondary-background-color); */

  border-radius: 4px;
}

ul.list {
  box-sizing: border-box;
  background-color: white;

  padding-left: 1px;
  padding-right: 1px;
  gap: 0px;

  display: flex;
  flex-direction: column;
}

.visible {
  opacity: 1;
  transform: translate(0);
  pointer-events: all;
}

ul.list li {
  padding: 0 5px;
}

ul.list li.selected,
ul.list li:hover {
  background-color: var(--background-color);
  color: white;
}
.input__wrapper {
  position: relative;
  width: 100%;
}
.input__wrapper input {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 5px;
  font-size: 18px;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: 2px solid var(--pale-border);

  /* border: 2px solid #4898bd; */

  /* border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; */
  border-radius: 5px;
}
.input__wrapper input:focus {
  /* box-shadow: var(--secondary-box-shadow);
  border: 2px solid var(--secondary-border-color); */
  box-shadow: var(--box-shadow);
  border: 2px solid var(--border-color);
}
.input__wrapper button {
  position: absolute;
  font-size: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* color: #4898bd; */
  color: var(--pale-border);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 30px;
  height: 100%;
  background-color: var(--primary-background-color);

  /* border: 2px solid var(--secondary-border-color); */
  border: 2px solid var(--pale-border);
  /* border: 2px solid #4898bd; */
  /* border: none; */
  margin: none;
  right: 0;
  top: 0;
  cursor: pointer;
}
.input__wrapper button:hover {
  /* background-color: var(--secondary-background-color); */
  background-color: var(--background-color);
  color: white;
}
.input__wrapper:focus-within button {
  /* border: 2px solid var(--secondary-border-color);
  color: var(--secondary-border-color); */
  border: 2px solid var(--border-color);
  color: var(--border-color);
}
.input__wrapper button:focus {
  outline: none;
}

.input__wrapper:focus-within button:hover {
  color: white;
}
.input__wrapper button .icon {
  transition: transform 0.5s;
}
.input__wrapper button .icon.up {
  transform: rotate(180deg);
}
