.login {
  position: relative;
  background: var(--url);
  /* background-image: url("../../images/background.jpg"); */
  background-size: cover;
  background-position: center;
  height: 94vh;
  min-height: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
