.tooltip {
  border-radius: 0.25rem;
  background: #26313c;
  color: #fff;
  padding: 1rem;
  box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.chart__wrapper {
  border: var(--primary-border-color) solid 2px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--primary-box-shadow);
  background-color: var(--card-color);
  height: 427px;
}
.button__wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin: 5px;
  margin-right: 10px;
}
.buttons {
  display: flex;
  gap: 5px;
}
.total {
  color: var(--primary-text-color);
}
.total_money {
  color: var(--primary-text-color);
  font-weight: 700;
}
@media (max-width: 800px) {
  .chart__wrapper {
    height: 460px;
  }
  .button__wrapper {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
