.tooltip {
  border-radius: 0.25rem;
  background: #26313c;
  color: #fff;
  padding: 1rem;
  box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.chart__wrapper {
  width: 100%;
  border: var(--primary-border-color) solid 2px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--primary-box-shadow);
  background-color: var(--card-color);
  height: 427px;
  /* color: var(--primary-text-color); */
}
.button__wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin: 5px;
  margin-right: 10px;
}
.total {
  color: var(--primary-text-color);
}
.total_money {
  color: var(--primary-text-color);
  font-weight: 700;
  /* background-color: var(--secondary-background-color); */
}
