.card__wrapper {
  border: 2px solid var(--primary-border-color);
  box-sizing: border-box;
  border-radius: 20px;
  max-width: 100%;
  min-width: 150px;
  /* height: fit-content; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: var(--primary-box-shadow);
}
