.input__wrapper {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  position: relative;
  color: var(--primary-text-color);
}
.buttons_container {
  width: 65px;
  display: flex;
  gap: 3px;
  justify-content: flex-end;
}
.input__wrapper .error__message {
  top: 30px;
  left: 0;
  position: absolute;
  color: red;
}
