@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: black;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* Dark classic blue (#0A1828), turquoise (#178582), gold (#BFA181) */
.App {
  --pale-blue: #4898bd;
  --primary-background-color: white;
  --secondary-background-color: #4898bd;
  --tertialy--backgorund-color: #f07f93;
  --primary-border-color: var(--secondary-background-color);
  --secondary-border-color: #297497;
  --tertialy-border-color: hsl(349, 38%, 53%);
  --primary-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 2px 6px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.12),
    0 2px 14px rgba(0, 0, 0, 0.14), 0 2px 20px rgba(0, 0, 0, 0.16);

  --secondary-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 3px 10px rgba(0, 0, 0, 0.08), 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.12),
    0 1px 7px rgba(0, 0, 0, 0.14), 0 1px 10px rgba(0, 0, 0, 0.16);
  --tertialy-box-shadow: 0 0 10px hsl(349, 42%, 52%);
  --primary-text-color: black;
  --secondary-text-color: #333333;
}
.App.dark {
  --primary-background-color: #0a1828;
  --secondary-background-color: #178582;
  --tertialy--backgorund-color: #bfa181;
  --primary-border-color: var(--secondary-background-color);
  /* --secondary-border-color: #2fc7c2;
  --tertialy-border-color: #704214; */
  --secondary-border-color: #bfa181;
  --tertialy-border-color: #704214;
  --primary-box-shadow: 0px 0px 8px 4px rgba(10, 24, 40, 0.8);
  --secondary-box-shadow: 0px 0px 3px 1px rgba(102, 240, 235, 0.6);
  --tertialy-box-shadow: 0px 3px 10px rgba(191, 161, 129, 0.5);
  --primary-text-color: #bfa181;
  --secondary-text-color: #704214;
}
