.form__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 10px 40px 10px;
  /* border: 2px solid var(--pale-blue); */
  border: 2px solid var(--primary-border-color);
  border-radius: 10px;
  box-shadow: var(--primary-box-shadow);
  /* background-color: var(--pale-blue); */
  background-color: var(--card-color);
  color: var(--primary-text-color);
}
.input__wrapper {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  position: relative;
}
.input__wrapper .error__message {
  top: 30px;
  left: 0;
  position: absolute;
  color: red;
}
.buttons_container {
  width: 65px;
  display: flex;
  gap: 3px;
  justify-content: flex-end;
}
.form__title {
  margin-bottom: 40px;
  text-align: center;
}
