.progress__bar__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: flex-end;
  gap: 5px;
  flex-wrap: wrap;
}
.progress__bar {
  width: 65%;
  height: 15px;
  flex-grow: 1;
  /* border: 1px solid var(--secondary-border-color); */
  -webkit-appearance: none;
}
.progress__bar::-webkit-progress-bar {
  background: var(--pale-blue);
}
.progress__bar::-webkit-progress-value {
  background: var(--secondary-border-color);
}
.progress__bar__wrapper label {
  /* white-space: wrap; */
  word-break: normal;
  width: 30%;
  text-align: right;
  min-width: 4.5em;
  flex-grow: 1;
}
