.home__wrapper {
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    "card card lineChart lineChart lineChart lineChart lineChart pieWrapper"
    "categories categories categories categories items items items items";
  overflow: hidden;
}
.card {
  grid-area: card;
}
.lineChart {
  grid-area: lineChart;
}
.pieWrapper {
  grid-area: pieWrapper;
}
.items {
  grid-area: items;
}
.categories {
  grid-area: categories;
}
@media (max-width: 970px) {
  .home__wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "card lineChart lineChart lineChart"
      "categories categories categories pieWrapper "
      "items items items items";
  }
}
@media (max-width: 620px) {
  .home__wrapper {
    grid-template-columns: 100%;
    grid-template-areas:
      "card"
      "pieWrapper"
      "lineChart"
      "categories"
      "items";
  }
}
