.home__wrapper {
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}
.grid_col_span_3 {
  grid-column: span 3;
}
.grid_col_span_2 {
  grid-column: span 2;
}
