.about {
  color: var(--primary-text-color);
  padding: 20px 20px 5px 20px;
}
.about h3 {
  margin: 0 auto;
  max-width: 800px;
}
.about p {
  margin: 0 auto;
  max-width: 800px;
  text-align: justify;
  line-height: 24px;
}
